@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 10px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: left;
  padding-left: 40px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  background: #d0d0d0;

}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  @include common-border;
  padding-bottom: 8px;
  .el-form--inline{
    padding-top: 8px !important;
  }
  .el-form-item{
    width: 23%;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
  }
  .el-select{
    width: 100%;
  }
  .el-form-item__label{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 24%;
  }
  .el-form-item__content{
    width: 70%;
  }
  .el-date-editor{
    width: 100% !important;
  }
}
.filter-container:hover{
  @include common-border-hover;
}

.card-filter-container{
  @include common-border;
  padding-bottom: 8px;
  .el-form--inline{
    padding-top: 8px !important;
  }
}

.card-filter-container:hover{
  @include common-border-hover;
}

.filter-button-container{
  margin-left:40%;
  .el-button{
    margin-right: 20px;
    border-radius: 6px !important;
  }
}

.pudge-hidden{
  display: none;
}

.form-container{
  .el-form-item{
    width: 100%;
  }
  .el-form-item__label{
    width: 85px;
  }
  .el-form-item__content{
    width: 80%;
    width: calc(100% - 85px)
  }
  .el-select{
    width: 100%;
  }
  .el-date-editor{
    width: 100% !important;
  }
  .el-input-number{
    width: 100%;
    .el-input__inner{
      text-align: left;
    }
  }
}

.form-dialog{
  .el-dialog__body{
    padding: 30px 15px 15px 15px ;
  }
  .el-button{
    margin-left: 20px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.table-container{
  width: 100%;
  overflow: auto;
  @include common-border;
  .el-table__header{
    font-weight: 600;
  }
}
.table-container:hover{
  @include common-border-hover;
}

.top-button-container{
  padding-bottom: 8px;
  width: 100%;
  .top-button-item{
    margin-top: 8px;
    margin-right: 10px !important;
    border-radius: 6px !important;
  }
}

#pudge-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial, serif;
  font-size: 12px;
  letter-spacing: 1px;
}

#pudge-footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  overflow: hidden;
  padding: 10px 6px 0 6px;
  height: 33px;
  font-size: 0.7rem !important;
  color: #7a8b9a;
  letter-spacing: 0.8px;
  font-family: Arial, sans-serif !important;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
}